@page "{*clientPath}"
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello, NDC Oslo!</title>
    <base href="~/" />
    <link href="site.css" rel="stylesheet" />
</head>
<body>
    <div class="satellite">
        <app>@(await Html.RenderComponentAsync<App>())</app>
    </div>
</body>
</html>
