html {
    background: #252839;
    background-size: 60%;
    font-family: "Segoe UI";
    height: 100%;
}

body {
    height: 100%;
}

.circle {
    background: #252839 url('circles.svg') no-repeat top center;
    position: absolute;
    margin-left: -50%;
    margin-top: -20%;
    width: 200%;
    height: 200%;
    opacity: 0.15;
    transition: opacity 3.0s ease-in-out;
}

.satellite {
    width: 100%;
    height: 100%;
    background: #252839 url('satellite.svg') no-repeat;
    background-position: right 50px bottom 50px;
    background-size: 200px 200px;
}

h1.greeting:before {
    content: "";
    background: url('microsoft.png') no-repeat 0 0;
    background-size: 125px 27px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 125px;
    height: 27px;
    padding-bottom: 80px;
}

h1.greeting {
    position: relative;
    top: 50px;
    left: 50px;
    font-weight: 600;
    font-size: 55pt;
    line-height: 1.1em;
    letter-spacing: -0.04em;
    color: #ffffff;
}

h1.greeting.loading {
    color: #777777;
}

div.description {
    position: relative;
    top: 40px;
    left: 50px;
    color: #dddddd;
}
